html {
    margin-top: 0px;
    margin-left: 75px;
    margin-right: 75px;
    color: white;
    font-family: karla;
    font-size: 12px;
    font-weight: 400;
    
}
body {
    box-sizing: border-box;
    background-color: #EDEDED;
    margin: 0px;
    padding: 20px;
}
*, *:before, *:after {
    box-sizing: inherit;
} 
.card {
    width: 300px;
    height: 600px;
    background-color: white;
    box-shadow: 3px 2px 11px -2px rgba(0,0,0,0.75);
    border-radius: 5px;
    overflow: hidden;
}
p {
    padding: 0px;
    margin: 0px;
    line-height: 25px;;
}
.top-section{
    width: 100%;
    height: 30%;
    margin: 15px;
    padding: 10px;
    
}
.top-section h2 {
    color: #2AB2B0;
}

.top-section h4 {
    color: #BFDF35;
}
.top-section p {
    color: #98A3BE;
    opacity: 70%;
}
.bottom-section {
    display: flex;
    flex-direction: column;
    height: 70%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.left-section {
    background-color: #2AB2B0;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.left-section h4 {
    padding: 0px;
    margin: 0px;
    padding-bottom: 15px;
    font-size: 1.2rem;
}
.left-section p {
    padding-top: 15px;
    padding-bottom: 18px;
    opacity: 70%;
}

.right-section {
    background-color: #42B5B2;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.right-section h4 {
    padding: 0px;
    margin: 0px;
    padding-bottom: 15px;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    opacity: 50%;
    line-height: 17px;
}
button {
    background-color: #BFDF35;
    color: white;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}
button:hover {
    background-color: #5e6d1b;
    cursor: pointer;
    transform: scale(1.1);
    
}

.price{
    font-size: 1.8em;
    font-weight: 700;
    display: inline-block;
    
}
.session {
    display: inline-block;
    opacity: 40%;
    margin-left: 5px;

}


@media (min-width: 550px) {
    html{
        margin-left: 10px;
    }
    .card{
        width: 520px;
        height: auto;
    }
    
    .bottom-section {
        height: 100%;
        flex-direction: row;
    }
    .right-section{
        height: 100%;
    }
}
